<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=localhost;Initial Catalog=BDProyectoCCV;User ID=sa;Password=123456" />
    <add name="BDProyectoCCV" connectionString="Data Source=localhost;Initial Catalog=BDProyectoCCV;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="PracticaProfesionalVivarsan.Properties.Settings.BDProyectoCCVConnectionString"
      connectionString="Data Source=.;Initial Catalog=BDProyectoCCV;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>